#Ignore links to test files
BinMap-Test_6-30-11.csv
smaller_anit.zip

#########
# Test session files
########
eric_test.session
eric_test_*.session


########
# Unsent email staging files
########
please email to eric_moyer_at_yahoo.com_*.mat
please email to eric_moyer_at_yahoo.com_*.mat.zip

########
# Files used in examining test collection
########
foo.bins.csv
foo.dec.correct.xy.txt
foo.dec.xy.txt
foo.excel.dec.csv
foo.resid.xy.txt
foo.xy.txt

########
# Fixed file used to store full deconvolution of the last set of
# spectra deconvolved
########
saved_full_deconvolution.mat

#######
# File to keep emails from being sent (keeps testing the 
# code from spamming my inbox
#######
dont_send_emails.foobarbaz
#######
# File to avoid writing residuals (makes testing faster)
#######
dont_write_residuals.foobarbaz
