#####
# Files temporarily hidden while I am working on other projects
#
# RRRRR    EEEEEE  M       M   OOO   V   V  EEEEEE
# R    R   E       MM     MM  O   O  V   V  E
# RRRRR    EEE     M M   M M  O   O   V V   EEE
# R   R    E       M  M M  M  O   O   V V   E
# R    R   EEEEEE  M   M   M   OOO     V    EEEEEE
#
#####

detected_after_6std_dev_loc_max.png
detected_after_blur.png
foo.cpp
hist.txt
pgms_1.pgm


#####
# Compilation intermediate files
#####
obj/*.o
obj/*.deps
obj/tests/*.o
obj/tests/*.deps
libbirgpeakmatch.a

#####
# Files flagging directory states to the build system
#####
mock_executables
normal_executables

#####
# Test-coverage/profiling files
#####
obj/*.gcov
obj/*.gcda
obj/*.gcno
obj/tests/*.gcov
obj/tests/*.gcda
obj/tests/*.gcno
lcov_output

#####
# Editor files
####
src/#*
src/.#*

#####
# Executables
#####
hough_sample_params
simple_hough
assign_peaks
equivalent_db
valid_db
stringstream_sandbox
duplicate_peak_match_db

#####
# Test executables
#####
tests/006-split_function.compiled.t
tests/007-from_text_line_funcs.compiled.t
tests/008-mockable_stringstream.compiled.t
tests/010-to_text_line_and_constructors.compiled.t
tests/011-pmobject_method_overloads.compiled.t

#####
# Generated documentation
#####
doc/html

