#####
# Compilation intermediate files
#####
obj/*.o
obj/*.deps
obj/tests/*.o
obj/tests/*.deps
libbirgpeakmatch.a

#####
# Files flagging directory states to the build system
#####
mock_executables
normal_executables

#####
# Test-coverage/profiling files
#####
obj/*.gcov
obj/*.gcda
obj/*.gcno
obj/tests/*.gcov
obj/tests/*.gcda
obj/tests/*.gcno
lcov_output

#####
# Editor files
####
src/#*
src/.#*

#####
# Executables
#####
hough_sample_params
simple_hough
assign_peaks
equivalent_db
valid_db
stringstream_sandbox

#####
# Test executables
#####
tests/006-split_function.compiled.t
tests/007-from_text_line_funcs.compiled.t
tests/008-mockable_stringstream.compiled.t
tests/010-to_text_line_and_constructors.compiled.t

#####
# Generated documentation
#####
doc/html