#######
# HTML output from the cell-mode file publishing
#######
html

#######
# Files used for caching intermediate analysis results that take a
# long time to calculate
#######
Analysis_cached_distributions.mat
Analysis_cached_sampled_distributions.mat
Analysis_cached_max_scaled_heights.mat
Analysis_cached_KL_probs.mat

